* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #887BB0;
    width: 100%;
    height: 100%;
    background: #FFF4BD;
}
header {
    padding: 1rem;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #F4B9B8;
}
.brand {
    font-size: 20px;
    font-weight: bolder;
}
.navbar {
    display: flex;

}

.hamburgur-menu {
    padding: 0 10px;
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul :hover{
     font-weight: 400;
     font-size: 20px;
 }

nav a {
    text-decoration: none;
    padding: 5px;
    color: #887BB0;
}
.icons {
    display: flex;
    flex-direction: row-reverse; 
    
}

.svg-icon {
    width: 25px;
    height: 25px; 
  }
  .svg-icon:hover {
    width: 30px;
    height: 30px; 
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #887BB0;
  }


  .mainContent {
      display: flex;
      flex-direction: row-reverse;
      margin: 1rem ;
      height: 360px;
      margin:1rem
  }
  .banner {
      width: 80%;
  }
  .banner img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
  }
 

  .sidebar {
      display: flex;
      flex-direction: column;
      width: 20%;
      margin-right: 20px;
  }
  .sidebar , .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 5px 5px rgba(0, 0, 0 , 0.5);
      background: rgba(244, 185, 184, 0.5);

  }

  .sidebar img {
      height: 100px;
      width: 90%;
      margin: 5px;
      border-radius: 10px;
  }



  .title {
      color: #85D2D0;
    margin: 30px auto;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    position: relative;
  }
  
  .title:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #85D2D0;
    left: 0;
    top: 50%;
    position: absolute;
  }
  
  .title:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #85D2D0;
    right: 0;
    top: 50%;
    position: absolute;
  }


  .cards {
      
      display: grid;
      grid-template-columns: repeat(auto-fit , minmax(200px , auto));
      grid-gap: 10px;
      width: calc(100% - 2rem);
      margin:  0 auto;
      padding: 30px auto;
  }

  .card {
    box-shadow: 0 5px 5px rgba(0, 0, 0 , 0.5); 
    border-radius: 10px;
  }

  .card-image {
      width: 100%;
      height: 250px;
      padding: 5px;
      border-radius: 10px;
  }

  .card-content {
      padding: 10px;
      font-weight: 600;     
  }




  @media (min-width : 481px) and (max-width:769px) {
      .hamburgur-menu {
          display: block;
      }
      nav {
          display: none;
      }

      .mainContent {
          flex-direction: column;
          margin-bottom: 150px;
          
      }
      .banner{
          width:100%
      }
      .sidebar {
          flex-direction: row;
          width: 100%;
          margin-top: 5px 0 200px 0;
      }
      .cards {
        grid-template-columns: 1fr;
    }

  }

  @media(max-width:480px) {

    .hamburgur-menu {
        display: block;
    }
    nav {
        display: none;
    }

    .mainContent {
        flex-direction: column;
        margin-bottom: 10px;
    
        
    }
    .banner{
        width:100%
    }
    .sidebar {
        flex-direction: row;
        width: 100%;
        margin: 5px 0;
    }
    .sidebar img {
        width: 75px;

    }
    .brand {
        font-size: 15px;
    }

   


  }


  
 


